
body
{
	background-image: url("img_mountains.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.audios
{
    float:right;
    margin-right : 2rem;
}
.title
{
    font-family: sans-serif;
    font-size : 1.2rem;
    text-align: center;
    text-shadow: 0.125rem 0.125rem 0.5rem gray;
    color:black;
}
h1
{
	font-size: 3rem;
	text-align:center;
	font-family:"Comic Sans MS", fantasy;
	text-shadow: 0.3rem 0.3rem 0.5rem gray;
	color : #000000;
}
h2
 {
    fot-size :2rem;
    font-family:sans-serif;
 }
div.border
{
	border: 1.5rem solid white;
	align-self: center;
	margin-left: 25rem;
	margin-right: 25rem;
}
div.transbox
{
	font-weight: bold;
	opacity:0.6;
	background-color: #ffffff;
	border: 0.625rem solid white;
	padding-left: 2rem;
  padding-right: 2rem;
}
#contact
{
    text-align:center;
    font-family: inherit;
    font-weight:bold;
    font-size:1.2rem;
}
iframe
{
	float:right;
}
